---
import Typescript from "@/assets/icons/Typescript.astro";
import React from "@/assets/icons/React.astro";
import Node from "@/assets/icons/Node.astro";
import Express from "@/assets/icons/Express.astro";
import MongoDB from "@/assets/icons/MongoDB.astro";
import Button from "./Button.astro";
import AstroLogo from "@/assets/icons/AstroLogo.astro";
import Tailwind from "@/assets/icons/Tailwind.astro";
import Flecha from "@/assets/icons/Flecha.astro";

const Projects = [
  {
    title: "Sitio Web Uptask",
    href: "/inicio.png",
    url_code: "https://github.com/OssDevp/uptask",
    url_project: "",
    description:
      "Este proyecto es un sitio web para administrar tareas, con autenticación de usuarios y base de datos.",
    icons: [Typescript, React, Node, Express, MongoDB],
  },
  {
    title: "Gestion de Pacientes",
    href: "/home.png",
    url_code: "https://github.com/OssDevp/avp_software_web",
    url_project: "",
    description:
      "Gestiona pacientes para veterinarios, con autenticación de usuarios y base de datos.",
    icons: [Typescript, React, Node, Express, MongoDB],
  },
  {
    title: "Porfolio Personal",
    href: "/proyecto.png",
    url_code: "https://github.com/OssDevp/mi-porfolio",
    url_project: "",
    description:
      "Porfolio personal desarrollado con tecnologías modernas y responsive design.",
    icons: [AstroLogo, Tailwind],
  },
];
---

<div
  id="proyectos"
  class="mt-20 mb-20 grid grid-cols-1 px-4 gap-4 sm:grid-cols-2 md:grid-cols-3"
>
  {
    Projects.map((project) => (
      <article class="relative rounded-md border border-tertiary p-4">
        <div class="absolute rounded-md top-0 left-0 w-full h-full bg-black/50 flex flex-col gap-5 justify-center items-center opacity-0 transition-all hover:opacity-100 duration-200">
          {project.url_project && (
            <Button href={project.url_project}>
              Ver Proyecto
              <Flecha />
            </Button>
          )}
          <Button href={project.url_code}>
            Ver Código
            <Flecha />
          </Button>
        </div>
        <div class="min-w-40 overflow-hidden rounded-md aspect-auto">
          <img
            class="object-cover object-center aspect-video"
            src={project.href}
            alt={project.title}
          />
        </div>
        <div class="p-2 flex flex-col jus">
          <div>
            <h3 class="mt-0.5 text-lg font-bold text-primary">
              {project.title}
            </h3>
            <p class="text-tertiary text-sm">{project.description}</p>
          </div>
          <div class="mt-4 flex items-center gap-2">
            {project.icons.map((Icon) => (
              <Icon class="size-6" />
            ))}
          </div>
        </div>
      </article>
    ))
  }
</div>
